<p>[SALUTATION]</p>
<p>Lors de la prochaine session d'été, vous discuterez et délibérerez entre autres du message sur l'armée 2024. Celui-ci comprend des augmentations considérables du budget militaire suisse et un plafond de dépenses extrêmement élevé de 25,8 milliards de CHF pour les années 2025-2028. La Commission de politique de sécurité de votre Conseil propose maintenant non seulement une augmentation des crédits d'engagement de 660 milliards de CHF - et donc plus qu'un doublement du volume total - mais aussi une augmentation du plafond de dépenses de 4 milliards de CHF.</p>
<p>En décembre 2023, le Parlement a décidé de porter le budget de l'armée à 1% du produit intérieur brut d'ici 2035 au lieu de 2030. La proposition de la CPS-E ignore cette décision du Parlement. Je m'inquiète du fait que les crèches, l'assurance-chômage ou la coopération au développement, par exemple, doivent faire des économies, alors que l'armée est non seulement exemptée de tout effort d'économie, mais doit maintenant recevoir encore plus d'argent que ce n'est déjà le cas. En tant que citoyen / citoyenne du canton XXX que vous représentez au Conseil des Etats, je voudrais réaffirmer mon souhait, qui découle de mon inquiétude, concernant les propositions suivantes :</p>
<p><strong>Arrêté fédéral concernant le programme d'armement 2024</strong></p>
<ul>
    <li>Art. 2 : rejet de la majorité CSI-E en faveur de la minorité Zopfi/Roth</li>
</ul>
<p><strong>Arrêté fédéral concernant le plafond de dépenses de l'armée 2025-2028</strong></p>
<ul>
    <li>Art. 1 : Rejet de la majorité de la CSI-E en faveur de la minorité I Roth</li>
    <li>Art. 1a : Rejet de la minorité Wicki/Broulis/Dittli/Poggia/Salzmann en faveur de la majorité de la CSI-E.</li>
</ul>
<p>La militarisation croissante n'est pas une solution, et des milliards pour l’armement ne sont qu’une fausse sécurité pour la population.<br>Je vous remercie d'en avoir pris connaissance et de votre engagement au sein du Conseil des Etats.<br>&nbsp;</p>
<p>Meilleures salutations,<br>[FNAME] [LNAME]<br>&nbsp;</p>
