<p>[IL SALUTO VIENE GENERATO AUTOMATICAMENTE]</p>
<p>Nella imminente sessione estiva discuterete, oltre a diversi altri oggetti, il messaggio sull'Esercito 2024. Ciò prevede un considerevole aumento del budget dell’esercito svizzero e un limite di spesa straordinariamente elevato, pari a 25,8 Mrd. di franchi per il quadrienno 2025-2028. La commissione della politica di sicurezza del vostro Consiglio propone ora non solo un aumento dei crediti d'impegno di 660 Mrd di franchi - pertanto molto più che un raddoppio del volume totale - ma anche un aumento del limite di spesa di ben 4 Mrd. di franchi.</p>
<p>Nel dicembre 2023, il Parlamento ha deciso di aumentare il budget dell'esercito all’1% del PIL entro il 2035 anziché nel 2030. <strong>La proposta del CPS-S ignora questa decisione parlamentare.</strong> Mi preoccupa il fatto che, ad esempio settori come gli asili nido, l'assicurazione contro la disoccupazione e la cooperazione allo sviluppo debbano intraprendere misure di risparmio, mentre l'esercito non solo è esente da qualsiasi sforzo di riduzione dei costi, ma ora riceverà ancora più denaro di quanto non abbia già ricevuto finora. In qualità di persona residente nel Cantone Ticino il quale lei rappresenta in Consiglio di Stato, la invito a votare le seguenti mozioni come segue:</p>
<p><strong>Decreto federale sul programma d’armamento 2024</strong></p>
<ul>
    <li>Art. 2 cpv. f: Reiezione della maggioranza CPS-S a favore della minoranza Zopfi/Roth</li>
</ul>
<p><strong>Decreto federale sul limite di spesa dell’esercito 2025–2028</strong></p>
<ul>
    <li>Art. 1: Reiezione della maggioranza CPS-S a favore della minoranza I Roth</li>
    <li>Art. 1a: Reiezione della minoranza Wicki/Broulis/Dittli/Poggia/Salzmann a favore della maggioranza CPS-S</li>
</ul>
<p>Una maggiore militarizzazione non è una soluzione: state ingannando la popolazione dando loro un falso senso di sicurezza promettendo ulteriori miliardi di armamenti.&nbsp;</p>
<p>Vi ringrazio per la vostra attenzione e il vostro impegno in seno al Consiglio di Stato.</p>
<p>Cordiali saluti<br>[FNAME] [LNAME]</p>
