/* Webfont: @fonts@fonts/PPNeueMachina-Inktrap */
@font-face {
    font-family: 'PPMachina';
    src: url('@fonts/PPNeueMachina-Inktrap.eot');
    /* IE9 Compat Modes */
    src: url('@fonts/PPNeueMachina-Inktrap.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('@fonts/PPNeueMachina-Inktrap.woff2') format('woff2'),
        /* Modern Browsers */
        url('@fonts/PPNeueMachina-Inktrap.woff') format('woff'),
        /* Modern Browsers */
        url('@fonts/PPNeueMachina-Inktrap.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('@fonts/PPNeueMachina-Inktrap.svg#PPNeueMachina-Inktrap') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: @fonts/PPNeueMachina-Inktrap */
@font-face {
    font-family: 'PPMachina';
    src: url('@fonts/PPNeueMachina-Inktrap1.eot');
    /* IE9 Compat Modes */
    src: url('@fonts/PPNeueMachina-Inktrap1.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('@fonts/PPNeueMachina-Inktrap1.woff2') format('woff2'),
        /* Modern Browsers */
        url('@fonts/PPNeueMachina-Inktrap1.woff') format('woff'),
        /* Modern Browsers */
        url('@fonts/PPNeueMachina-Inktrap1.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('@fonts/PPNeueMachina-Inktrap1.svg#PPNeueMachina-Inktrap') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: @fonts/PPNeueMachina-InktrapUltBdIta */
@font-face {
    font-family: 'PPMachina';
    src: url('@fonts/PPNeueMachina-InktrapUltBdIta.eot');
    /* IE9 Compat Modes */
    src: url('@fonts/PPNeueMachina-InktrapUltBdIta.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('@fonts/PPNeueMachina-InktrapUltBdIta.woff2') format('woff2'),
        /* Modern Browsers */
        url('@fonts/PPNeueMachina-InktrapUltBdIta.woff') format('woff'),
        /* Modern Browsers */
        url('@fonts/PPNeueMachina-InktrapUltBdIta.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('@fonts/PPNeueMachina-InktrapUltBdIta.svg#PPNeueMachina-InktrapUltBdIta') format('svg');
    /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: @fonts/PPNeueMachina-InktrapUltBd */
@font-face {
    font-family: 'PPMachina';
    src: url('@fonts/PPNeueMachina-InktrapUltBd.eot');
    /* IE9 Compat Modes */
    src: url('@fonts/PPNeueMachina-InktrapUltBd.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('@fonts/PPNeueMachina-InktrapUltBd.woff2') format('woff2'),
        /* Modern Browsers */
        url('@fonts/PPNeueMachina-InktrapUltBd.woff') format('woff'),
        /* Modern Browsers */
        url('@fonts/PPNeueMachina-InktrapUltBd.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('@fonts/PPNeueMachina-InktrapUltBd.svg#PPNeueMachina-InktrapUltBd') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: @fonts/PPNeueMachina-ItalicInktrap */
@font-face {
    font-family: 'PPMachina';
    src: url('@fonts/PPNeueMachina-ItalicInktrap.eot');
    /* IE9 Compat Modes */
    src: url('@fonts/PPNeueMachina-ItalicInktrap.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('@fonts/PPNeueMachina-ItalicInktrap.woff2') format('woff2'),
        /* Modern Browsers */
        url('@fonts/PPNeueMachina-ItalicInktrap.woff') format('woff'),
        /* Modern Browsers */
        url('@fonts/PPNeueMachina-ItalicInktrap.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('@fonts/PPNeueMachina-ItalicInktrap.svg#PPNeueMachina-ItalicInktrap') format('svg');
    /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
