<p>[ANREDE]</p>
<p>In der Sommersession werden Sie unter anderem die Armeebotschaft 2024 diskutieren und beraten. Diese beinhaltet beachtliche Erhöhungen des Schweizer Militärbudgets und einen enorm hohen Zahlungsrahmen für die Jahre 2025-2028 von 25,8 Milliarden CHF. Die Sicherheitspolitische Kommission Ihres Rates beantragt nun nicht nur eine Erhöhung der Verpflichtungskredite um 660 Milliarden CHF – und damit mehr als eine Verdoppelung des Gesamtvolumens – sondern auch eine Erhöhung des Zahlungsrahmens um 4 Milliarden CHF.</p>
<p>Das Parlament hat im Dezember 2023 beschlossen, die Erhöhung des Armeebudgets auf ein Prozent des Bruttoinlandsprodukts bis 2035 statt bis 2030 zu vollziehen. Der Antrag der SiK-S ignoriert diesen Parlamentsentscheid. Ich bin besorgt darüber, dass beispielsweise die Kindertagesstätten, die Arbeitslosenversicherung oder die Entwicklungszusammenarbeit einsparen müssen, während die Armee nicht nur von jeglichen Sparanstrengungen ausgenommen ist, sondern nun sogar noch mehr Geld erhalten soll, als es sowieso schon der Fall ist. Ich rufe Sie aus diesen Gründen dazu auf, bei den genannten Anträgen wie folgt zu stimmen:&nbsp;</p>
<p><br><strong>Bundesbeschluss über das Rüstungsprogramm 2024</strong></p>
<ul>
    <li>Art. 2 lit. f: Ablehnung der Mehrheit SIK-S zu Gunsten der Minderheit Zopfi/Roth</li>
</ul>
<p><strong>Bundesbeschluss über den Zahlungsrahmen der Armee 2025–2028</strong></p>
<ul>
    <li>Art. 1: Ablehnung der Mehrheit SIK-S zugunsten der Minderheit I Roth</li>
    <li>Art. 1a: Ablehnung der Minderheit Wicki/Broulis/Dittli/Poggia/Salzmann zugunsten der Mehrheit SIK-S</li>
</ul>
<p>Zunehmende Militarisierung ist keine Lösung und sie lassen durch das zusätzliche Sprechen von Rüstungsmilliarden das Volk in einer Scheinsicherheit zurück.</p>
<p>Ich bedanke mich für die Kenntnisnahme und Ihren Einsatz im Ständerat.<br>&nbsp;</p>
<p>Freundliche Grüsse<br>[FNAME] [LNAME]<br>&nbsp;</p>
